/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Full height layout */
  html, body, #root {
    height: 100%;
  }
  
  /* Flex container for the entire app */
  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure it takes the full viewport height */
  }
  
  /* Body styles with nature background */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('https://images.unsplash.com/photo-1716993341092-2c2e702f58e3?q=80&w=1545&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  /* Navigation bar styles */
  nav {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: #575757;
  }
  
  /* Main content styles */
  main {
    flex: 1; /* Take up remaining space */
    padding: 20px;
    z-index: 1;
  }
  
  /* Home page heading and paragraph */
  .home h1, .home p {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  }
  
  .home h1 {
    font-size: 3rem;
    margin-top: 50px;
  }
  
  .home p {
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto; /* Push footer to the bottom */
  }
  .about h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
  }
  .about p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
  }
  .post {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  }
  
  .post h1 {
    font-size: 2.5rem;
    margin-top: 20px;
  }
  
  .post p {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  /* NotFound styles */
  .not-found {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  }
  
  .not-found h1 {
    font-size: 2.5rem;
    margin-top: 20px;
  }
  
  .not-found p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  